{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-4" id="sticky-sidebar">
            <div class="sticky-top flex-grow-1">
                <div class="nav flex-sm-column">
                    <h1>{{ courseset.title }}</h1>
                    <p>{{ courseset.description }}<br>
                        <small>Last Queried: {{ courseset.updated_on }}</small></p>
                    <p>Producer: {{ courseset.owner }}</p>


                    <div class="mt-2">

                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/{{courseset.repo_url}}" data-size="large"
                            data-show-count="true" aria-label="Star {{courseset.repo_url}} on GitHub">Star</a>
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/{{courseset.owner}}" data-size="large"
                            data-show-count="true" aria-label="Follow @{{courseset.owner}} on GitHub">Follow
                            @{{courseset.owner}}</a>


                    </div>
                    <hr>
                    <div class="mt-2">
                        <form action="{% url 'courses:participate' courseset.id %}" method="post">
                            {% csrf_token %}
                            {% if courseset not in user.userprofile.participate.all %}
                            <button class="btn btn-primary btn-lg btn-block" type="submit"
                                value="{{ submission.repo_url }}" name="participate_btn">
                                Participate</button>
                            {% else %}
                            <button class="btn btn-primary btn-lg btn-block" type="submit"
                                value="{{ submission.repo_url }}" name="unparticipate_btn">
                                Unparticipate</button>
                            {% endif %}
                        </form>

                        <form action="">
                            {% if user.username == courseset.owner %}
                            <button class="btn btn-dark btn-lg btn-block" type="submit"
                                value="{{ submission.repo_url }}" name="add_quiz_btn">Add Quiz</button>
                            {% else %}
                            <p>You can participate in this project.</p>
                            {% endif %}
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-8" id="main">
            <div class="jumbotron">
                <h1>{{ courseset.title }}</h1>
                <ul class="nav nav-pills mb-4" id="courseset-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="content-tab" data-toggle="tab" href="#content" role="tab"
                            aria-controls="content" aria-selected="true">Content</a></li>
                    <li><a class="nav-link" id="quiz-tab" data-toggle="tab" href="#quiz" role="tab" aria-controls="quiz"
                            aria-selected="false">Quiz</a></li>
                    <li><a class="nav-link" id="recipients-tab" data-toggle="tab" href="#recipients" role="tab"
                            aria-controls="recipients" aria-selected="false">Recipients</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="content" role="tabpanel" aria-labelledby="content-tab">
                        {{ courseset.quizcontent | safe }}
                        <ol>
                            {% for quiz in questions %}
                            <li class="{% cycle 'row1' 'row2' %} mt-4">
                                <h6>Quiz {{ forloop.counter }}</h6>

                                <p>{{ quiz.prompt }}</p>
                                <select name="choice" id="choice_option">
                                    {% for choice in quiz.choice_set.all %}
                                    <option value="{{ choice.content }}">{{ choice.content }}</option>
                                    {% endfor %}
                                </select>
                                <!-- Select:
                                    <ul>
                                        {% for choice in quiz.choice_set.all %}
                                        <li>{{ choice.content }}</li>
                                        {% endfor %}
                                    </ul> -->

                                <div class="mb-4 mt-2">
                                    <strong>Question worth <u>{{ quiz.questionscore }} point</u></strong>
                                </div>
                                <hr>
                            </li>
                            {% empty %}
                            <li>No quiz associated with this project.</li>

                            {% endfor %}
                        </ol>
                    </div>
                    <div class="tab-pane fade" id="quiz" role="tabpanel" aria-labelledby="quiz-tab">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu nisi dolor. Donec a
                            ultrices massa.
                            Sed sit amet varius neque. Aenean in libero pretium, sollicitudin purus eget, feugiat nunc.
                            Integer
                            tortor dolor, maximus eget commodo tempus, congue eu est. Praesent molestie odio sapien, id
                            mollis
                            nisi efficitur eget. <br>Maecenas sapien sapien, laoreet non imperdiet eu, malesuada quis
                            sapien.
                            Aenean
                            luctus tristique lacus ut tempus. Donec vestibulum odio dignissim, vestibulum tellus vel,
                            suscipit
                            magna. Donec sed sem ex. <br>Sed rhoncus eu nisl at sodales. Aenean ac mattis ligula, eu
                            tincidunt
                            lectus. Donec auctor accumsan nibh, et congue augue sagittis tempus. Nunc suscipit viverra
                            elit.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="recipients" role="tabpanel" aria-labelledby="recipients-tab">
                        <h3>Users with passing score on {{ courseset.title }}</h3>
                        <ul>
                            <li><a href="#">onlyphantom</a></li>
                        </ul>
                    </div>
                </div>


                <button class="btn btn-primary btn-lg btn-block" type="submit" value="{{ submission.repo_url }}"
                    name="add_quiz_btn">Submit Quiz</button>
                {% if user.username == courseset.owner %}
                <button class="btn btn-dark btn-lg btn-block" type="submit" value="{{ submission.repo_url }}"
                    name="add_quiz_btn">Set Answers</button>
                {% else %}
                <p>You can participate in this project.</p>
                {% endif %}
            </div>

        </div>
    </div>

</div>



<ul>
    {% for course in courseset.course_set.all %}
    <li>
        <a href="{% url 'courses:c_detail' course.id %}">{{ course.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}