{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <div class="jumbotron">
        <form action="{% url 'courses:add_to_queue' %}" method="POST">
            {% csrf_token %}
            <h3>Submit a repo to the approval queue</h3>
            <!-- <input type="text" name="add_repo" id="add_repo" value="{{ repo_url }}"> -->
            {{ add_form }}
            <input type="submit" value="Submit">
        </form>
    </div>

    {% if coursesets %}
    <h1>Courses on Starport</h1>

    <div class="row">
        {% for courseset in coursesets %}
        <div class="col-4">
            <span>
                <a href="{% url 'courses:cs_detail' courseset.id %}">
                    {{ courseset.title }}
                </a>
            </span>
            <div>
                {{ courseset.description }}
            </div>
            <div>
                <span>{{ courseset.owner }} | {{ courseset.course_n }}</span>
            </div>

        </div>
        {% endfor %}
    </div>

    {% else %}
    <p>No courses available at the moment!</p>
    {% endif %}

</div>
{% endblock %}